/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -2;
}

.container {
    position: relative; /* Changed to relative to allow stacking of elements */
    padding: 60px 32px;
    width: 350px;
    background: rgba(32, 29, 31, 0.6);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.85);
    border-radius: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.success {
    background-color: #d4edda; /* Light green background color */
    color: #155724; /* Dark green text color */
    border: 1px solid #c3e6cb; /* Light green border color */
    padding: 12px 20px; /* Padding around the message */
    margin-bottom: 20px; /* Bottom margin to separate from other elements */
    border-radius: 6px; /* Rounded corners */
    font-size: 16px;
  }
  
  /* Error message styling */
  .error {
    background-color: #f8d7da; /* Light red background color */
    color: #721c24; /* Dark red text color */
    border: 1px solid #f5c6cb; /* Light red border color */
    padding: 12px 20px; /* Padding around the message */
    margin-bottom: 20px; /* Bottom margin to separate from other elements */
    border-radius: 6px; /* Rounded corners */
    font-size: 16px;
  }

label {
  color: #fff;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c633bc;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f1f0f1;
  color: black;
}

a{
    color: #c633bc;
    text-decoration: none;
}